

ul li a span:first-child::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:px;
    height:2px;
    border-top:2px solid yellow;
    border-left:2px solid yellow;
}
ul li a span:first-child::after{
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:10px;
    height:2px;
    border-top:2px solid yellow;
    border-right:2px solid yellow;
}

ul li a span:first-child::before{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:10px;
    height:2px;
    border-bottom:2px solid yellow;
    border-left:2px solid yellow;
}

ul li a span:first-child::after{
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    width:10px;
    height:2px;
    border-bottom:2px solid yellow;
    border-right:2px solid yellow;
}